name: CodeClimate-Checks
on:
  [push, pull_request, workflow_dispatch]

jobs:
  
  collect-backend-coverage:
    defaults:
      run:
        working-directory: ./backend/pytest

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ['3.10']

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'

      - name: Install Coverage
        run: |
          pip install coverage
        
      - uses: amancevice/setup-code-climate@v0
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
          cc_test_reporter_version: latest  # optional

      - run: cc-test-reporter before-build

      - name: Run report generator
        run: |
          dir
          coverage run -m unittest test_pytest.py
          dir
          coverage html
          dir
          cc-test-reporter after-build -t coverage.py
